@tailwind base;
@tailwind components;
@tailwind utilities;




/* Dark Mode */
body.dark {
    background-color: #121212; /* Dark background */
    color: white; /* Light text */
  }
  
  /* Light Mode (default) */
  body {
    background-color:rgb(118, 126, 135);
    color: white; /* Dark text */
  }
  
  /* Additional custom styles for dark mode */
  .dark .navbar {
    background-color: #333; /* Dark navbar */
  }
  